<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".help"), "#" %></li>
      <li><%=link_to t("layouts.footer.news"), "#" %></li>
    </ul>
  </nav>
</footer>
